.modalContainer{
    margin-bottom: 10px;
}
.mainContent1{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
}
.actions1{
    display: flex;
    flex-direction: column;
}
.contentBox1{
    height: 150px;
    margin: 5px 15px;
}

.titleBox1{
   text-align: center;
   margin: 5px 30px;
}
.extra.content1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    width: 100%;
}

.extra.content1 button{
margin: 5px;
width: 200px;
}

@media only screen and (max-width: 680px){
    .mainContent1{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 5px;
        border-radius: 5px;
    }

    .extra.content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .extra.content1 button{
        width: 90%;
    }

}